
h2 {
  color: #007bff;
}


body {
  box-sizing: content-box;
  width: 100%;
  background-color: #F5F7F8;
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 500;

}

/* Navigation section  */

.navbar {
  background-color: white;
}

/* Hero banner section  */

.pro {
  text-decoration: underline;
}

.jumbotron {
  background-image: url("../images/bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}


/* Grid card CSS  */

/* Work Section */

.card-title {
  color: #800080;
}
.customCardHeight {
  width: 20rem;
  height: auto;
  border: 1px solid darkgrey;
}


.projectGridArea:hover {
  transform: scale(1.1);
  box-shadow: 5px rgba(181, 173, 173, 0.8);
  
} 



/* Skills section  */


.blue-section {

  background-image: linear-gradient(to bottom, #c683d7, #b67ddb, #a478df, #8d74e4, #7071e8);
}

.box{
  box-sizing: border-box;
  border: 3px solid transparent;
  background-clip:padding-box;
}

/* Contact Me and About Me section */

.about-img img {
max-width: 35%;
height: auto;
border-radius: 20%;

}

footer {
  background-color: #191D88;
  height: 90px;
}