


body {
  box-sizing: content-box;
  width: 100%;
  background-color: #F5F7F8;
}

/* Navigation section  */

.navbar {
  background-color: white;
}

/* Hero banner section  */

.pro {
  text-decoration: underline;
}

.hero-section {
  background-color: #495E57;
  height: 40vw ;
}

/* .bg-image { */
  /* background-image: url("../images/sunrise-over-mountains.jpg"); */
  /* background-color: #495E57;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  margin-top: 60px;
}

.text-yellow {
  color: white
 
} */


.container h2 {
  color: #007bff;
}

/* Grid CSS  */

/* Work Section */


.blog-grid {
    position: relative;
    box-shadow: 0 1rem 1.75rem 0 rgba(45, 55, 75, 0.1);
    height: 100%;
    border: 2px solid #495E57;
    border-radius: 0.25rem;
    transition: all .2s ease-in-out;
    height: 100%
}


.blog-grid img {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem
}

.projectGridArea:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(181, 173, 173, 0.8);
} 

.blog-grid-text>span {
    color: #292dc2;
    font-size: 10px;
    padding-right: 5px
}

.customPosition {
  padding: 100px 40px;
}


/* Skills section  */

#skills {
  background-color: #F4CE14;
}

.box{
  box-sizing: border-box;
  border: 3px solid transparent;
  background-clip:padding-box;
}

/* Contact Me and About Me section */

#contact-me {
  background-color: #495E57;
  color: white;
}

.about-img img {
max-width: 50%;
height: auto;
border-radius: 50%;

}


footer {
  background-color: #45474B;
  height: 100px;
}